<div class="d-flex justify-content-between align-items-end">
  <div>
    <h2>Choose a Category</h2>
    <select #categoriesSelect [(ngModel)]="selectedIndex.selected">
    <!-- <select #categoriesSelect (change)="selectIndex(categoriesSelect.value)"> -->
      <option id="choose" [value]='-1'>category</option>
      <option *ngFor="let category of categories;let i = index;" [value]="i">{{category.categoryName}}</option>
    </select>
    <button class="btn btn-success ml-1" (click)="deleteCategory(categoriesSelect.value)">delete category</button>
  </div>
  <div>
    <input #addCategoryInput id="addCategory" placeholder=" add category">
    <button class="btn btn-success ml-1" (click)="addCategory(addCategoryInput.value);addCategoryInput.value = ''">add</button>
  </div>
</div>