<div class="row d-flex flex-row-reverse bg-primary mb-5 ml-0 mr-0 justify-content-center">
  <form class="form-inline m-3">
      <div class="form-group">
          <input #cityInput (change)="getWeather(cityInput.value, unitsSelect.value)" value="london" class="form-control" placeholder="enter city" />
      </div>
      <div class="form-group ml-2">
          <select #unitsSelect (change)="getWeather(cityInput.value, unitsSelect.value)" class="form-control">
            <option value="imperial">Farenheit</option>
            <option value="metric">Celsius</option>
            <option value="">Kelvin</option>
          </select>
      </div>
  </form>
</div>

<app-weather-city-display [weatherData]="weatherData"></app-weather-city-display>