<div class="row d-flex flex-row-reverse bg-primary mb-5 ml-0 mr-0 justify-content-center">
  <form class="form-inline m-3">
      <div class="form-group">
          <input #zipInput (change)="setZip(zipInput.value, unitsSelect.value)" value="08701" class="form-control" placeholder="enter zip code" />
      </div>
      <div class="form-group ml-2">
          <select #unitsSelect (change)="setZip(zipInput.value, unitsSelect.value)" class="form-control">
            <option value="imperial">Farenheit</option>
            <option value="metric">Celsius</option>
            <option value="">Kelvin</option>
          </select>
      </div>
  </form>
</div>

<!-- <app-weather-display [weatherData]="weatherData"></app-weather-display> -->

<router-outlet></router-outlet>
